.logoTitle {
    display: flex;
    align-items: center;

    .line {
        height: 36px;
        border: 1px solid #D8D8D8;
        margin: 0 10px;
    }
}

.email {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url("/resource/logo/email.svg");
    background-size: cover;
    position: fixed;
    bottom: 70px;
    right: 20px;
    cursor: pointer;
    border: none;
}

.email:hover {
    border: 1px solid #D8D8D8;
}

.showText {
    padding: 15px 10px;

    .showTextTitle {
        font-family: PingFang SC;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: normal;
        color: #333333;
    }

    .showTextContent {
        font-family: PingFang SC;
        font-size: 12px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: normal;
        color: #333333;
    }
}
