.tableToolip {

    .btnTooltip {
        width: 133px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


}

.app-container {

    .containerLeft {
        height: 565px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .containerLeftTop {
            height: 50%;
            margin-bottom: 8px;
        }

        .containerLeftBottom {
            margin-top: 8px;
            height: 50%;
        }
    }

    .containerRight {
        height: 565px;
    }
}